Django
dj-database-url
dj-rest-auth
django-allauth
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
psycopg2-binary
requests
whitenoise
oss2
django-mongodb-backend
pymongo[srv]
ua-parser
user-agents
