Django
dj-database-url
dj-rest-auth
django-allauth
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
psycopg2-binary
requests
whitenoise
# 👇 阿里云 OSS 必须要有这个
oss2
django-mongodb-backend
pymongo[srv]
ua-parser
user-agents
django-passkeys
fido2
setuptools
# 👇 必须补全下面这些，否则启动时会报错
Pillow
qiniu
upyun
cos-python-sdk-v5
